.section-testimonial {
    padding: 75px 0 143px;

    @media (min-width: 768px){
        padding: 75px 0 55px;
    }

    @media (min-width: 1200px){
        padding: 109px 0 78px;
        background-image: url(../img/testimonial/bg-testimonial.svg);
        background-repeat: no-repeat;
        background-position: center 156px;
        background-size: auto;
    }
}

.section-testimonial .section-title {
    margin-bottom: 35px;
    text-align: center;
    letter-spacing: 2.8px;

    @media (min-width: 768px){
        margin-bottom: 25px;
    }

    @media (min-width: 1200px){
        margin-bottom: 75px;
        font-size: 14px;
    }
}

.section-testimonial .section-header {
    margin-bottom: 35px;
    text-align: center;

    @media (min-width: 768px){
        margin-bottom: 65px;
    }

    @media (min-width: 1200px){
        margin-bottom: 82px;
    }
}

.section-testimonial-carousel {
    position: relative;
    width: 290px;
    margin: 0 auto;

    @media (min-width: 768px){
        width: 490px; 
    }

    @media (min-width: 1200px){
        width: 750px;
    }
}

.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translate(-73px, 50%);

    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    background-image: url("../img/testimonial/arrow-left.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    @media (min-width: 768px){
        transform: none;
        top: 15px;
        left: -125px;
    }

    @media (min-width: 1200px){
        top: 15px;
        left: -100px;
    }

    &:hover {
        box-shadow: 0px 0px 10px rgb(128, 128, 128);
    }

    &:active {
        box-shadow: 0px 0px 10px rgb(80, 227, 164);
    }

    &:focus {
        outline: none;
    }
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    bottom: -42px;
    right: 50%;
    transform: translate(73px, 50%);

    width: 52px;
    height: 52px;
    margin-top: 15px;
    border-radius: 50%;
    background-color: rgb(245, 245, 245);
    background-image: url("../img/testimonial/arrow-right.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    @media (min-width: 768px){
        transform: none;
        top: 0px;
        right: -125px;
    }

    @media (min-width: 1200px){
        top: 0px;
        right: -100px;
    }

    &:hover {
        box-shadow: 0px 0px 10px rgb(128, 128, 128);
    }

    &:active {
        box-shadow: 0px 0px 10px rgb(80, 227, 164);
    }

    &:focus {
        outline: none;
    }
}

.section-testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(128, 128, 128);
}

.section-testimonial-desc {
    margin-bottom: 25px;

    @media (min-width: 768px){
        margin-bottom: 40px;
    }

    @media (min-width: 1200px){
        margin-bottom: 60px;
    }
}

.section-testimonial-desc p {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 2;
    font-weight: 500;
    text-align: center;
      
    &:last-child {
        margin-bottom: 0;
    }
      
    @media (min-width: 768px){
        font-size: 16px;
        line-height: 2.1;
    }

    @media (min-width: 1200px){
        font-size: 18px;
        line-height: 2.222;
    }
}

.section-testimonial-name-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (min-width: 1200px){
        flex-direction: row;
    }
}

.section-testimonial-content-img {
    margin-bottom: 20px;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(230, 230, 230);

    img {
        vertical-align: top;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (min-width: 1200px){
        margin-bottom: 0;
        margin-right: 40px;
    }
}

.section-content-name {
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
}
  